# directories
**/bin/
**/obj/
**/out/
**/.vs/
**/.git/
**/.github/
**/sed/
**/AppVeyor/
**/publish/
**/Config/
**/Dats/
**/Logs/
**/db-data/
**/db-data-dev/
**/db-data-prod/
**/Backups/

# files
Dockerfile*
**/.dockerignore*
**/*.user
**/*.trx
**/*.md
**/*.ps1
**/*.cmd
**/*.sh
**/*.zip
