services:
  - mysql
version: 0.0.{build}
image: Visual Studio 2017
pull_requests:
  do_not_increment_build_number: true
platform: x64
before_build:
- cmd: >-
    source\AppVeyor\AppVeyorBeforeCompile.bat

build:
  project: source\ACE.sln
  verbosity: minimal
test_script:
- cmd: vstest.console /logger:Appveyor /inIsolation "Source\ACE.Tests\bin\x64\Debug\ACE.Tests.dll" /Platform:x64
- cmd: vstest.console /logger:Appveyor /inIsolation "Source\ACE.Database.Tests\bin\x64\Debug\ACE.Database.Tests.dll" /Platform:x64
