{
  "Server": {
    "WorldName": "ACEmulator",
    "Network": {
      "Host": "0.0.0.0",
      "Port": 9000,
      "MaximumAllowedSessions": 128,
      "DefaultSessionTimeout": 60
    },
    "Accounts": {
      "OverrideCharacterPermissions": true,
      "DefaultAccessLevel": 0,
      "AllowAutoAccountCreation": true,
      "PasswordHashWorkFactor": 8,
      "ForceWorkFactorMigration": true
    },
    "DatFilesDirectory": "c:\\ACE\\",
    "ShutdownInterval": "60",
    "WorldDatabasePrecaching": false,
    "LandblockPreloading": true,
    "PreloadedLandblocks": [
        {
            "Id": "E74EFFFF",
            "Description": "Hebian-To (Global Events)",
            "Permaload": true,
            "IncludeAdjacents": false,
            "Enabled": true
        },
        {
            "Id": "A9B4FFFF",
            "Description": "Holtburg",
            "Permaload": true,
            "IncludeAdjacents": true,
            "Enabled": false
        },
        {
            "Id": "DA55FFFF",
            "Description": "Shoushi",
            "Permaload": true,
            "IncludeAdjacents": true,
            "Enabled": false
        },
        {
            "Id": "7D64FFFF",
            "Description": "Yaraq",
            "Permaload": true,
            "IncludeAdjacents": true,
            "Enabled": false
        },
        {
            "Id": "0007FFFF",
            "Description": "Town Network",
            "Permaload": true,
            "IncludeAdjacents": false,
            "Enabled": false
        }
    ]
  },
  "Plugins": {
    // Enable or disable the entire plugin system.  true=enabled, false=disabled
    "Enabled": false,
    /*
    * Plugins are started in the sequence seen in the plugin list from top to bottom.
    * It's important to order them so that the least dependent ones are at the top.
    * If plugin startup is attempted for a plugin depending on another plugin
    * that has not yet been started it could cause a cascade of plugin startup failures.
    * To disable or enable a plugin add or remove 2 leading slashes to/from the entry.
    * examples:
    * //"This.Plugin.Is.Disabled",
    * "This.Plugin.Is.Enabled",
    */
    "Plugins": [
        //"ACE.Plugin.Crypto",
        //"ACE.Plugin.Transfer", // depends on ACE.Plugin.Crypto
        //"ACE.Plugin.WebAPI",  // depends on ACE.Plugin.Crypto, ACE.Plugin.Transfer
    ]
  },
  "MySql": {
    "Authentication": {
      "Host": "127.0.0.1",
      "Port": 3306,
      "Database": "ace_auth",
      "Username": "root",
      "Password": ""
    },
    "Shard": {
      "Host": "127.0.0.1",
      "Port": 3306,
      "Database": "ace_shard",
      "Username": "root",
      "Password": ""
    },
    "World": {
      "Host": "127.0.0.1",
      "Port": 3306,
      "Database": "ace_world",
      "Username": "root",
      "Password": ""
    }
  }
}
