<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GameApi" value="http://localhost:8000"/>
    <add key="LoginServer" value="http://localhost:8001"/>
    <add key="GameServer" value="127.0.0.1:9000"/>
    <add key="ClientExe" value="c:\Turbine\Asheron's Call\acclient.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>